

/*------------------------------------------------------------App------------------------------------------------------------*/

.App {
  --primary-color:  rgb(226, 108, 210);
  --secondary-color: pink;

  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: var(--secondary-color);
  height: 100vh;

}

/*------------------------------------------------------------Header------------------------------------------------------------*/

/* Style the navigation menu */
.body {}
  .header{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--primary-color);

  }
    .headerLogo{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0%;
      margin: 0%;
    }
      .headerImage{
        border-radius: 50px;
        justify-self: left;
        width: 15vw;
        margin: 0.1rem 0%;
        margin-left: 0.5rem;
      }
    .headerHamburguer{
      background-color: var(--primary-color);
      margin: 0%;
      padding-right: 2vw;
      line-height: 10vh;
      font-size: x-large;
    }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .body #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .body a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .body a.icon {
    background:  var(--primary-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .fa-paw{
    color: var(--primary-color);
  }

  /* Add a grey background color on mouse-over */
  .body a:hover {
    background-color: violet;
    color: black;
  }



/*------------------------------------------------------------Home------------------------------------------------------------*/

.Home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem 0%;
}

  .homeCarousel{
    display: block;
    box-sizing: border-box;
    width: 100vw;
  }
    .homeCarouselImage{
      width: 100%;
    }
    .homeCarouselTitle{
      background-color: rgba(0, 0, 0, 0.5);
    }
    .homeCarouselDescription{
      background-color: rgba(0, 0, 0, 0.5);
    }

  .homeVeteInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    margin-top: 1rem;
    justify-content: space-between;
  }
  .homeAptButton{
    margin: 3rem 2.5rem;
  }
/*------------------------------------------------------------About Us------------------------------------------------------------*/
.AboutUs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 1rem 0%;
}
  .aboutUsBadges{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
    /*---------------------------------About Us---------------------------------*/
        .Badge{
          display: block;
          box-sizing: border-box;
          margin: 2.5vh 2vw;
          background-color: black;
          width: 45vw;
          height: 34vh;
        }
        .badgeImage{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          width: 45vw;
          height: 19vh;
          background-color: red;
        }
          .badgeFile{
            width: 45vw; 
            height: 19vh; 
            object-fit: cover;
          }
        .badgeName{
          font-family: 'Cinzel', serif;
          font-size: larger;
          color: white;
        }
        .badgeRol{
          color: grey;
          
        }
        .badgeDescription{
          padding: 0px 1rem;
          color: white;
          font-size: small;
        }


/*------------------------------------------------------------Footer------------------------------------------------------------*/

.Footer{
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  background-color: black;
}

  .footerLeft{
    display: block;
    box-sizing: border-box;
    width: 50vw;
    margin: 0%;
  }
    .footerSNcontainer{
      font-family: 'Comfortaa', cursive;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0%;
      color: white;
      width: fit-content;
    }
      .footerSNcontainer p {
        width: fit-content;
        margin: auto 0%;
      }
      .footerSNimage{
        width: 10vw;
        margin: 0%;
      }

  .footerRight{
    display: block;
    box-sizing: border-box;
    width: 49vw;
    margin: 0%;
  }
  .footerRight p{
    font-size: x-small;
    color: white;
    width: fit-content;
    justify-self: left;
    margin: 0%;  
  }

  