
/*
  Min-width: 320px (smaller phone viewpoints)
  Min-width: 480px (small devices and most phones)
  Min-width: 768px (most tablets)
  Min-width: 992px (smaller desktop viewpoints)
  Min-width: 1200px (large devices and wide screens)
*/

/*
  Looks like shit breakpoint:
  720px
*/

/*------------------------------------------------------------App------------------------------------------------------------*/

.App {
  --primary-color:  rgb(226, 108, 210);
  --secondary-color: pink;

  font-family: 'Quicksand', sans-serif;
  text-align: center;
  background-color: var(--secondary-color);
  height: 100vh;

}

/*------------------------------------------------------------Header------------------------------------------------------------*/

.body {}
  .header{
    overflow: hidden;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--primary-color);

  }
    .headerLogo{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 0%;
      margin: 0%;
    }
      .headerImage{
        border-radius: 50px;
        justify-self: left;
        width: 15vw;
        margin: 0.1rem 0%;
        margin-left: 0.5rem;
      }
    .headerHamburguer{
      background-color: var(--primary-color);
      margin: 0%;
      padding-right: 2vw;
      line-height: 10vh;
      font-size: x-large;
    }

  /* Hide the links inside the navigation menu (except for logo/home) */
  .body #myLinks {
    display: none;
  }

  /* Style navigation menu links */
  .body a {
    color: white;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  /* Style the hamburger menu */
  .body a.icon {
    background:  var(--primary-color);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .fa-paw{
    color: var(--primary-color);
  }

  /* Add a grey background color on mouse-over */
  .body a:hover {
    background-color: violet;
    color: black;
  }
  
  

@media all and (min-width:720px){
  .body {}
    .header{
      overflow: hidden;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: var(--primary-color);

    }
      .headerLogo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 0%;
        margin: 0%;
      }
        .headerImage{
          border-radius: 50px;
          justify-self: left;
          width: 107px;
          margin: 0.1rem 0%;
          margin-left: 0.5rem;
        }
      .headerHamburguer{
        background-color: var(--primary-color);
        margin: auto 0%;
        padding-right: 2vw;
        line-height: 100%;
        font-size: xx-large;
      }

    /* Hide the links inside the navigation menu (except for logo/home) */
    .body #myLinks {
      display: none;
    }

    /* Style navigation menu links */
    .body a {
      color: white;
      text-decoration: none;
      font-size: 17px;
      display: block;
    }

    /* Style the hamburger menu */
    .body a.icon {
      background:  var(--primary-color);
      display: block;
      position: absolute;
      right: 0;
      top: 0;
    }
    .fa-paw{
      color: var(--primary-color);
    }

    /* Add a grey background color on mouse-over */
    .body a:hover {
      background-color: violet;
      color: black;
    }
}


/*------------------------------------------------------------Home------------------------------------------------------------*/

.Home{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin:  0%;
  background-color: var(--secondary-color);
}

  .homeCarousel{
    display: block;
    box-sizing: border-box;
    width: 100vw;
  }
    .homeCarouselImage{
      width: 100%;
    }
    .homeCarouselTitle{
      background-color: rgba(0, 0, 0, 0.5);
    }
    .homeCarouselDescription{
      background-color: rgba(0, 0, 0, 0.5);
    }

  .homeVeteInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 25vh;
    margin: 0.5rem auto;
    justify-content: space-between;
    align-content: space-between;
    padding: 1rem;
  }
  .homeAptLink{
    height: 100%;
    width: 40vw;
    align-content: center;
    justify-content: center;
  }
  .homeAptButton{
    display: block;
    box-sizing: border-box;
    background-color: blue;
    border-radius: 5px;
    margin: 0%;
    height: fit-content;
  }

  @media all and (min-width:720px){
    .Home{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin:  0%;
      background-color: var(--secondary-color);
    }
    
        .carousel{
          width: 710px;
          margin: 1% auto;
        }
        .homeCarouselTitle{
          background-color: rgba(0, 0, 0, 0.5);
        }
        .homeCarouselDescription{
          background-color: rgba(0, 0, 0, 0.5);
        }
    
      .homeVeteInfo{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100vw;
        height: 25vh;
        margin: 0.5rem auto;
        justify-content: space-between;
        align-content: space-between;
        padding: 1rem;
      }
      .homeAptLink{
        height: 100%;
        width: 40vw;
      }
      .homeAptButton{
        background-color: blue;
        align-self: center;
        justify-self: center;
        align-content: center;
        justify-content: center;
        border-radius: 5px;
      }
  }
/*------------------------------------------------------------About Us------------------------------------------------------------*/
.AboutUs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0%;
  height: fit-content;
  background-color: var(--secondary-color);
}
  .aboutUsBadges{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
    /*---------------------------------About Us---------------------------------*/
        .Badge{
          display: block;
          box-sizing: border-box;
          margin: 1vh 2vw;
          background-color: black;
          width: 45vw;
          height: fit-content;
        }
        .badgeImage{
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          width: 45vw;
          height: fit-content;
          background-color: red;
        }
          .badgeFile{
            width: 45vw; 
            height: fit-content; 
            object-fit: cover;
          }
        .badgeName{
          font-family: 'Cinzel', serif;
          font-size: larger;
          color: white;
        }
        .badgeRol{
          color: grey;
          
        }
        .badgeDescription{
          padding: 0px 1rem;
          color: white;
          font-size: small;
        }

/*------------------------------------------------------------Location------------------------------------------------------------*/
.Location{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: fit-content;
  margin: 0.1rem auto;
}
  .locationMap{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 60vh;
  }
  .locationText{
    display: block;
    box-sizing: border-box;
    margin: 1% auto;
  }

/*------------------------------------------------------------Footer------------------------------------------------------------*/

.Footer{
  position: relative;
  bottom: 0vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: fit-content;
  background-color: black;
}

  .footerLeft{
    display: block;
    box-sizing: border-box;
    width: 50vw;
    margin: 0%;
  }
    .footerSNcontainer{
      font-family: 'Comfortaa', cursive;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0%;
      color: white;
      width: fit-content;
    }
      .footerSNcontainer p {
        width: fit-content;
        margin: auto 0%;
      }
      .footerSNimage{
        width: 10vw;
        margin: 0%;
      }

  .footerRight{
    display: block;
    box-sizing: border-box;
    width: 49vw;
    margin: 0%;
  }
  .footerRight p{
    font-size: x-small;
    color: white;
    width: fit-content;
    justify-self: left;
    margin: 0%;  
  }

  