a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.Header{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: lightgrey;
}

.headerTitle{
  display: block;
  box-sizing: border-box;
  height: fit-content;
  background-color: violet;
}

.headerNavbar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.headerNavbarOption{
  width: fit-content;
  margin: 1.5px auto;
}.headerNavbarOption:hover{
  background-color: pink;
}